.vs/
*.user
DashboardWeb/bin/
DashboardWeb/obj/
packages/
WatchDog.CpuRamMonitor/bin/
WatchDog.CpuRamMonitor/obj/
WatchDog.ProcessMonitor/bin/
WatchDog.ProcessMonitor/obj/
WatchDog.Windows.Dashboard/bin/
WatchDog.Windows.Dashboard/obj/
WatchDogClient/bin/
WatchDogClient/obj/
WatchDogSignalRServer/bin/
WatchDogSignalRServer/obj/
WatchDogTask/bin/
WatchDogTask/obj/
WatchDogTaskLib/bin/
WatchDogTaskLib/obj/
